<div class="space Space1321 space1321" >
  <div class="space Space27111 space27111" >
    <div class="space Space5112211111 space5112211111" >
      <h5 class="Heading26 heading26 text-alignment-left text-transform-none" ngClass="text-basic">Forgot you password?</h5>
      <div class="space Space91111111 space91111111" >
        <p class="Text142 text142 text-alignment-left text-transform-none paragraph" >Enter the email you’ve registered with. We’ll send you the instructions there.</p>
      </div>
      <label class="Text140 text140 text-alignment-left text-transform-none label" >Email</label>
      <input nbInput class="Input29 input29  size-xl-medium" placeholder="Your email" type="email" shape="rectangle" uiValueUpdate="Input29" status="basic" ng-Model="value">
      <button nbButton class="Button17 button17  size-xl-medium iconPlacement-xl-none" appearance="filled" status="primary">
        
        <span>Reset Password</span>
      </button>
      <div class="space Space4112211111 space4112211111" >
        <p class="Text1411 text1411 text-alignment-left text-transform-none paragraph" >Go back to the</p>
        <ng-container *ngFor="let item of sequenceLink11; index as index">
          <a href="" target="_blank"  class="Link11 link11 text-alignment-left text-transform-none text-decoration-underline" [ngClass]="'text-' + (color4$ | async)">Login page</a>
        </ng-container>
      </div>
    </div>
  </div>
</div>