:host {
  
  .heading26 {
    font-size: 22px;
    line-height: initial;
    margin: 0 0 16px 0;
  }
    
  .text142 {
    font-size: 15px;
    line-height: initial;
    margin: 0 0 16px 0;
  }
    
  .space91111111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 16px 0 0 0;
    margin: 0 0 16px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text140 {
    font-size: 12px;
    line-height: initial;
    margin: 0 0 4px 0;
  }
    
  .input29 {
    margin: 0 0 20px 0;
    width: 100%;
  }
    
  .button17 {
    margin: 0 16px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
    > nb-icon {
      color: inherit;
    }
  }
    
  .text1411 {
    font-size: 15px;
    line-height: initial;
    margin: 0 8px 0 0;
  }
    
  .link11 {
    font-size: 15px;
    line-height: initial;
    margin: 0;
  }
    
  .space4112211111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 16px 0 0 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space5112211111 {
    height: auto;
    min-height: 2rem;
    width: 40%;
    & > * {
      flex-basis: initial !important;
    }
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space27111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    overflow: visible;
    background-color: var(--background-basic-color-1);
    background-size: auto;
  }
    
  .space1321 {
    height: 100%;
    width: 100%;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  @media (max-width: 1024px) {
    .text142 {
      margin: 0 0 16px 0;
    }
    
    .space91111111 {
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      padding: 0;
    }
    
    .button17 {
      width: auto;
      > nb-icon {
        color: inherit;
      }
    }
    
    .text1411 {
      margin: 0 8px 0 0;
    }
    
    .link11 {
      margin: 0;
    }
    
    .space4112211111 {
      height: 56px;
      width: 100%;
    }
    
    .space5112211111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0 40px;
    }
  }
    
  @media (max-width: 768px) {
    .button17 {
      > nb-icon {
        color: inherit;
      }
    }
    
    .text1411 {
      margin: 0 8px 0 0;
    }
    
    .space4112211111 {
      align-items: flex-start;
      align-content: flex-start;
    }
    
    .space5112211111 {
      height: auto;
      min-height: 2rem;
      width: 66.66666666666667%;
      padding: 0 30px;
    }
  }
    
  @media (max-width: 480px) {
    .button17 {
      margin: 0;
      > nb-icon {
        color: inherit;
      }
    }
    
    .text1411 {
      margin: 0 8px 0 0;
    }
    
    .link11 {
      margin: 0;
    }
    
    .space4112211111 {
      align-items: flex-start;
      align-content: flex-start;
      justify-content: flex-start;
    }
    
    .space5112211111 {
      height: auto;
      min-height: 2rem;
      width: 91.66666666666667%;
      padding: 0 20px;
    }
  }
    
  @media (max-width: 320px) {
    .button17 {
      > nb-icon {
        color: inherit;
      }
    }
    
    .text1411 {
      margin: 0 8px 0 0;
    }
    
    .space5112211111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
  
}